In [1]:
exp = {'January': 2200,'February': 2350, 'March': 2600, 'April': 2130,'May': 2190}

In [2]:
extra = exp['February']-exp['January']
extra

150

In [4]:
tot = exp['January'] +exp['February']+exp['March']
tot

7150

In [9]:
for i in exp:
    if exp[i] == 2600:
        print(i)

March

In [11]:
exp['Jun'] =1980
exp

{'January': 2200,
 'February': 2350,
 'March': 2600,
 'April': 2130,
 'May': 2190,
 'Jun': 1980}

In [12]:
exp['April'] = exp["April"] -200

In [13]:
exp

{'January': 2200,
 'February': 2350,
 'March': 2600,
 'April': 1930,
 'May': 2190,
 'Jun': 1980}

In [59]:
heros=['spider man','thor','hulk','iron man','captain america']

In [60]:
len(heros)

5

In [61]:
heros.append('black panther')

In [62]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [63]:
heros.pop()

'black panther'

In [64]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [65]:
heros = ['dr strange' if i == 'thor' or i == 'hulk' else i for i in heros ]

In [66]:
heros

['spider man',
 'dr strange',
 'dr strange',
 'black panther',
 'iron man',
 'captain america']

In [68]:
heros.sort()

In [69]:
heros

['black panther',
 'captain america',
 'dr strange',
 'dr strange',
 'iron man',
 'spider man']

In [74]:
max = int(input('Enter a number:'))
l1 = []
for i in range(max):
    if i%2 ==1:
        l1.append(i)
print(l1)

Enter a number:99
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97]